* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3;
  outline: none;
}

body {
  margin-bottom: 100px;
}

h1, h2, h3, h4, h5, h6 {
  color: #444;
  font-weight: 600;
}

h1 {
  color: #fff;
  font-weight: 300;
  margin: 16px 0;
}

h1 span {
  color: #34D1D1;
}

h3 {
  text-align: center;
}

h4 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

p {
  color: #444;
  font-weight: 300;
}

.see-code-button {
  background-color: #3F3244;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 43px auto 100px;
  padding: 10px;
  text-align: center;
  width: 275px;
}

.see-code-button:hover {
  background-color: #2F2235;
}

.header-hr {
  display: none;
}

/****  ACCORDION TABS  ****/

.acc-hr {
  border: 1px solid #d1d2d3;
  margin: -12px 0 5px;
}

header {
  background-color: #3F3244;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  padding: 5px 40px;
}

header h2 {
  color: #fff;
}

.pattern-type {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  width: 868px;
}

.pattern-type-hr {
  border: 1px solid #d1d2d3;
  margin: 0;
  width: 600px;
}

#accordion-tabs {
  margin: 20px auto;
  position: relative;
  width: 768px;
}

.acc-titles-bar {
  height: 61px;
  margin-top: -16px;
  width: 100%;
}

.tab-active {
  display: block;
}

.acc-content {
  align-items: center;
  background-color: #fff;
  border: 1px solid #d1d2d3;
  border-top: none;
  display: none;
  padding: 11px 15px 5px;
  width: 768px;
}

.acc-title {
  background-color: #f2f2f2;
  border: 1px solid #fff;
  border-bottom: 1px solid #d1d2d3;
  cursor: pointer;
  margin-bottom: 0;
  padding: 10px 0;
  position: absolute;
  width: 192px;
}

.title-1 {
  left: 0;
  top: 0;
}

.title-2 {
  left: 192px;
  top: 0;
}

.title-3 {
  left: 384px;
  top: 0;
}

.title-4 {
  left: 576px;
  top: 0;
}

.title-active {
  background-color: #fff;
  border: 1px solid #d1d2d3;
  border-bottom: none;
}

.plus-minus {
  display: none;
  float: right;
  margin: 0;
}

.content-active {
  display: flex;
}

.acc-images {
  background-color: #f2f2f2;
  border: 1px solid #d1d2d3;
  height: 250px;
  margin-right: 20px;
  width: 28%;
}

.acc-text {
  width: 70%;
}

@media screen and (max-width: 868px) {
  h4 {
    margin-bottom: 20px;
  }

  .pattern-type {
    flex-direction: column;
  }

  .pattern-type-hr {
    width: 30%;
  }

  .pattern-type {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .header-hr {
    border: 1px solid #666;
    display: block;
    margin: 5px 0 0;
    opacity: .3;
    width: 40%;
  }

  header {
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
  }

  h3 {
    text-align: left;
  }

  .plus-minus {
    display: block;
  }

  .acc-titles-bar {
    display: none;
  }

  .acc-text {
    padding: 15px;
    width: 100%;
  }

  #accordion-tabs {
    border: 1px solid #d1d2d3;
    margin-bottom: 56px;
    width: 100%;
  }

  .acc-title {
    border: 1px solid #fff;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    position: static;
    width: 100%;
  }

  .acc-content {
    border: none;
    flex-direction: column;
    padding: 0;
    width: 100%;
  }

  .acc-images {
    margin: 0 auto;
    width: 100%;
  }
}

/****  FLEXIBLE CARDS  ****/

#flexible-cards {
  display: grid;
  grid-auto-rows: minmax(249px, auto);
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  width: 768px;
}

.fc-cards {
  background-color: #f2f2f2;
  border: 1px solid #d1d2d3;
  width: 244px;
}

.fc-cards-wide {
  width: 505px;
}

.fc-cards-title {
  background-color: #fff;
  margin: 0;
  overflow: hidden;
  padding: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fc-1 {
  grid-column: 1 / 3;
  grid-row: 1;
}

.fc-2 {
  grid-column: 3;
  grid-row: 1;
}

.fc-3 {
  grid-column: 1;
  grid-row: 2;
}

.fc-4 {
  grid-column: 2;
  grid-row: 2;
}

.fc-5 {
  grid-column: 3;
  grid-row: 2;
}

.fc-6 {
  grid-column: 1;
  grid-row: 3;
}

.fc-7 {
  grid-column: 2 / 4;
  grid-row: 3;
}

@media screen and (max-width: 767px) {
  #flexible-cards {
    display: flex;
    flex-direction: column;
    padding: 0 15px 15px;
    width: 100%;
  }

  .fc-cards {
    height: 248px;
    margin-bottom: 15px;
    width: 100%;
  }
}

/****  HEADER BAR  ****/

#header-bar {
  position: relative;
}

.hb-nav {
  background-color: #d1d2d3;
  display: flex;
  justify-content: space-between;
  padding: 16px
}

.hb-circle-logo {
  border: 1px solid #c1c2c3;
  border-radius: 100px;
  background-color: #f2f2f2;
  height: 75px;
  width: 75px;
}

.hb-menu-text {
  display: none;
}

.hb-menu {
  align-items: center;
  display: flex;
  position: absolute;
  right: 16px;
  top: 27px;
}

.hb-ul {
  display: flex;
  list-style-type: none
}

.hb-ul li {
  cursor: pointer;
  margin-right: 24px;
}

.hb-search {
  color: #444;
  background-color: #f2f2f2;
  background-image: url('../assets/mag-glass.svg');
  background-position: 5% center;
  background-repeat: no-repeat;
  background-size: 20px;
  border: 1px solid #b1b2b3;
  height: 40px;
  padding: 0 50px;
  width: 200px;
}

::placeholder {
  color: #a1a2a3;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .hb-menu-hidden {
    display: none;
  }

  .hb-menu-text {
    cursor: pointer;
    display: block;
  }

  .hb-menu {
    background-color: #e1e2e3;
    flex-direction: column;
    padding: 16px;
    position: static;
    width: 100%;
  }

  .hb-ul {
    flex-direction: column;
    width: 100%;
  }

  .hb-ul li {
    margin: 0px 0px 21px -16px;
    width: 100%;
  }

  .hb-search {
    background-position: 3% center;
    width: 100%;
  }
}
